<app-title title="Defer Triggers"></app-title>

<section>
  <h1 class="text-xl">Interacciones</h1>

  <hr class="my-2">

  @defer (on interaction) {
    <heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>On Interaction</span>
    </heavy-loaders-fast>
  } @placeholder {
    <p class="w-full h-20 bg-purple-100">Click me</p>
  }

  <hr class="my-2">

  <button
    #btnInteraction
    class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-white my-2">
    Click me!
  </button>

  @defer (on interaction(btnInteraction) ) {
    <heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>On Interaction</span>
    </heavy-loaders-fast>
  } @placeholder {
    <p class="w-full h-20 bg-purple-100">Placeholder</p>
  }

  <hr class="my-2">

  @defer (on hover) {
    <heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>On Hover</span>
    </heavy-loaders-fast>
  } @placeholder {
    <p class="w-full h-20 bg-purple-100">Placeholder</p>
  }

  <hr class="my-2">

  @defer (on immediate) {
    <heavy-loaders-fast cssClass="bg-blue-500 h-20">
      <span>On Immediate</span>
    </heavy-loaders-fast>
  } @placeholder {
    <p class="w-full h-20 bg-purple-100">Placeholder</p>
  }

  <hr class="my-2">

  @defer (on timer(2000)) {
    <heavy-loaders-fast cssClass="bg-green-500 h-20">
      <span>On Timer</span>
    </heavy-loaders-fast>
  } @placeholder {
    <p class="w-full h-20 bg-purple-100">Espere 2 segundos...</p>
  }

  <hr class="my-2">

  @defer (on hover; prefetch on idle) {
    <heavy-loaders-fast cssClass="bg-orange-500 h-20">
      <span>On Hover, idle</span>
    </heavy-loaders-fast>
  } @placeholder {
    <p class="w-full h-20 bg-purple-100">Placholder</p>
  }



</section>
